<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Page</title>
    <style>
      body {
        text-align: center;
      }
      h1 {
        color: red;
        font-family: cursive;
      }
      p {
        font-family: cursive;
        color: blueviolet;
      }
    </style>
  </head>
  <body>
    <h1>Welcome on Profile page!</h1>
    <p>My Name is Rahul Singh! I am a Software Developer</p>
  </body>
</html>
