<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile Page</title>
    <style>
      body {
        text-align: center;
      }
      h1 {
        color: red;
        font-family: cursive;
      }
      p {
        font-family: cursive;
        color: blueviolet;
      }
      ul {
        list-style-type: none;
      }
    </style>
  </head>
  <body>
    <h1>Welcome on Profile page!</h1>
    <p>My Name is Rahul Singh! I am a Software Developer</p>
    <h3>Hi <%= user.userName %></h3>
    <h4><%= user.email %></h4>
    <h4><%= user.city %></h4>
    <ul>
      <% user.skills.forEach((item) =>{ %>
      <li><%= item %></li>
      <% } ) %>
    </ul>
  </body>
</html>
