<header>
  <nav>
    <a> </a>
    <button
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span>Login</span>
    </button>
    <div>
      <ul>
        <li>
          <a href="#footer">Contact</a>
        </li>
        <li>
          <a href="#pricing">Pricing</a>
        </li>
        <li>
          <a href="#cta">Download</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
